@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  --border-nav-item-color: rgb(20, 180, 45);
  --nav-item-back: rgb(100, 10, 90);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
