:root {
  --border-nav-item-color: rgb(170, 170, 170);
  --nav-item-back: rgb(51, 51, 51);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
