.main {
    min-height: 100vh;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.letterBox {
    font-size: 80vh;
    animation-name: scaleDown;
    animation-duration: 69s;
}

.phraseBox {
    font: 4vh;
    animation-name: scaleUp; 
    animation-duration: 69s;
}

@keyframes scaleDown {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}
@keyframes scaleUp {
    from {
        transform: translateY(0px) scale(1);
    }

    to {
        transform: translateY(200px) scale(10);
    }
}