.main {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    background-image: url('../public/mother.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
