.main {
    height: 820px;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    background-image: url('../public/mother.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: relative;
}

.filter {
    background-color:rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.spot {
    position: absolute;
    z-index: 10000;
    font-size: 32px;
    opacity: 0.8;
    background-color: #be0b6e;
}
