.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: #3f6149;
}

.spot {
    position: absolute;
    z-index: 100;
    font-size: 32px;
    border-radius: 100%;
    opacity: 0.8;
    color: #3f6149;
}

.shape {
    position: absolute;
    z-index: 30;
    top: 0;
    left: -50%;
    width: 100vw;
    height: 100vh;
}

.bactery {
    position: absolute;
    z-index: 10;
    background-color: #000;
    animation-iteration-count: infinite;
    animation-name: pulsingA;
}

@keyframes pulsingA {
    from {
        opacity: 0.4;
    }

    60% {
        opacity: 0.9;
    }

    to {
        opacity: 0.4;
    }
}

@keyframes pulsingB {
    from {
        opacity: 0.1;
    }

    60% {
        opacity: 0.6;
    }

    to {
        opacity: 0.1;
    }
}

