.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: rgb(66, 88, 66);
}

.spot {
    position: absolute;
    font-size: 32px;
    border-radius: 100%;
    opacity: 0.8;
}
