.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: rgb(66, 88, 66);
}

.spot {
    position: absolute;
    font-size: 32px;
    border-radius: 100%;
    opacity: 0.6;
}

.spotanimationdown {
    animation-name: movedown;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.spotanimationup {
    animation-name: moveup;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moveup {
    from {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(10px, 20px);
    }

    60% {
        transform: translate(-20px, 40px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes movedown {
    from {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(-40px, -20px);
    }

    60% {
        transform: translate(60px, 40px);
    }

    to {
        transform: translate(0px, 0px);
    }
}